In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import copy
import math

In [29]:
# Read the CSV file into a pandas DataFrame
df = pd.read_csv('train.csv')

In [30]:
X_train = df.drop(columns = ['id', 'smoking_status', 'stroke'])
print(X_train)

Y_train = df['stroke']

       gender   age  hypertension  heart_disease ever_married      work_type  \
0        Male  28.0             0              0          Yes        Private
1        Male  33.0             0              0          Yes        Private
2      Female  42.0             0              0          Yes        Private
3        Male  56.0             0              0          Yes        Private
4      Female  24.0             0              0           No        Private
...       ...   ...           ...            ...          ...            ...
15299  Female  22.0             0              0           No       Govt_job
15300  Female  46.0             1              0          Yes        Private
15301  Female  75.0             0              0          Yes  Self-employed
15302    Male  46.0             0              0          Yes        Private
15303  Female  14.0             0              0           No        Private

      Residence_type  avg_glucose_level   bmi
0              Urban              79.53  31.1
1              Rural              78.44  23.9
2              Rural             103.00  40.3
3              Urban              64.87  28.8
4              Rural              73.36  28.8
...              ...                ...   ...
15299          Urban              72.63  19.5
15300          Urban             101.19  32.1
15301          Urban              87.69  26.2
15302          Rural             101.13  22.5
15303          Rural              85.12  24.7

[15304 rows x 9 columns]

One Hot Encoding

In [31]:
#List of columns to encode
columns_to_encode = ['gender', 'ever_married', 'work_type', 'Residence_type']


X_train = pd.get_dummies(X_train, columns = columns_to_encode)

X_train

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban
0,28.0,0,0,79.53,31.1,0,1,0,0,1,0,0,1,0,0,0,1
1,33.0,0,0,78.44,23.9,0,1,0,0,1,0,0,1,0,0,1,0
2,42.0,0,0,103.00,40.3,1,0,0,0,1,0,0,1,0,0,1,0
3,56.0,0,0,64.87,28.8,0,1,0,0,1,0,0,1,0,0,0,1
4,24.0,0,0,73.36,28.8,1,0,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15299,22.0,0,0,72.63,19.5,1,0,0,1,0,1,0,0,0,0,0,1
15300,46.0,1,0,101.19,32.1,1,0,0,0,1,0,0,1,0,0,0,1
15301,75.0,0,0,87.69,26.2,1,0,0,0,1,0,0,0,1,0,0,1
15302,46.0,0,0,101.13,22.5,0,1,0,0,1,0,0,1,0,0,1,0
15303,14.0,0,0,85.12,24.7,1,0,0,1,0,0,0,1,0,0,1,0

In [32]:
import numpy as np
from sklearn.linear_model import LogisticRegression

#loading data
X = X_train
y = Y_train

# Create a logistic regression model
model = LogisticRegression()

# Fit the model to the data
model.fit(X, y)

# Make predictions
predictions = model.predict(X)

# Evaluate the model
accuracy = model.score(X, y)

print('Accuracy:', accuracy)

Accuracy: 0.9584422373235756

c:\Users\Akhil\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [33]:
df = pd.read_csv('test.csv')
#X_test = df.drop('smoking_status', axis = 1)
X_test = df.drop(columns = ['id', 'smoking_status'])
X_test = pd.get_dummies(X_test, columns = columns_to_encode)

X_test

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban
0,57.0,0,0,82.54,33.4,1,0,0,0,1,0,0,1,0,0,1,0
1,70.0,1,0,72.06,28.5,0,1,0,0,1,0,0,1,0,0,0,1
2,5.0,0,0,103.72,19.5,1,0,0,1,0,0,0,0,0,1,0,1
3,56.0,0,0,69.24,41.4,1,0,0,0,1,1,0,0,0,0,0,1
4,32.0,0,0,111.15,30.1,0,1,0,0,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10199,27.0,0,0,75.77,17.6,1,0,0,1,0,0,0,1,0,0,0,1
10200,49.0,0,0,102.91,26.7,0,1,0,0,1,0,0,1,0,0,0,1
10201,3.0,0,0,104.04,18.3,1,0,0,1,0,0,0,0,0,1,1,0
10202,31.0,0,0,82.41,28.7,0,1,0,0,1,0,0,1,0,0,0,1
10203,2.0,0,0,85.12,14.8,1,0,0,1,0,0,0,0,0,1,0,1

In [34]:
# Make predictions
predictions = model.predict(X_test)

probabilities = model.predict_proba(X_test)[:,1]


print(probabilities)

[3.98396700e-02 1.62429873e-01 2.62559242e-04 ... 2.12382122e-04
 4.13097099e-03 1.59990177e-04]

In [35]:
df = pd.read_csv(r'C:\Users\Akhil\projects\machine learning\gdsc induction problem set\gdsc-ml-induction-round-2\sample_submission_2.csv')

In [36]:
df["stroke"] = probabilities
df.to_csv(r'C:\Users\Akhil\projects\machine learning\gdsc induction problem set\gdsc-ml-induction-round-2\sample_submission_2.csv', index = False)